<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content=""/>

	<link rel="stylesheet" href="/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
	<link href="/css/style.css" rel='stylesheet' type='text/css'/>
	<link href="/css/owl.carousel.css" rel="stylesheet"><!-- Owl-carousel-CSS -->
	<link href="/css/fontawesome-all.css" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
		  rel="stylesheet">
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
	<script src="base/plugins/jquery/jquery.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="base/dist/css/adminlte.min.css">
	<link rel="stylesheet" href="base/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body>
<!--
    作者：offline
    时间：2020-03-04
    描述：头部内容
-->
<header>
	<div class="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="index.html">同城搬家供需信息交流平台</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item ">
						<a class="nav-link" href="/userservice/main">首页<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/u/order">我的团队订单</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/myteammessage">我的团队信息</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link " href="/u/contact">我的团队留言</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link " href="/u/myliuyan">我的消息</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="/forteam/notice">告示</a>
					</li>
					<li class="nav-item dropdown">
						<input type="hidden" id="userid" th:if=" ${session.userservice} ne null"
							   th:value="${session.userservice.uid}"/>
						<input type="hidden" id="uname" th:if=" ${session.userservice} ne null"
							   th:value="${session.userservice.uname}"/>
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span th:if=" ${session.userservice} ne null" th:text="${session.userservice.uname}"></span>
							<span th:if="${session.userservice} eq null " th:text="请登录"></span>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:if="${session.userservice} ne null" href="/loginup">
								<span th:if="${session.userservice} ne null " th:text="注销"></span>
							</a>
							<a class="dropdown-item" th:if="${session.userservice} eq null " href="/">
								<span th:if="${session.userservice} eq null " th:text="登录"></span>
							</a>
							<a href="#" class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter"
							   role="button">查看个人信息</a>
							<a href="#" class="dropdown-item" data-toggle="modal" data-target="#editmessage"
							   role="button">编辑个人信息</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>
<!--/banner-->
<div id="team">
	<div class="container">
		<div class="w3-head-all text-center mb-5">
			<h3>我的消息</h3>
		</div>
		<template>
			<el-table class="tableBox"
					  :data="applydate"
					  style="width: 100%"
					  :row-style="{height: '100px'}"

			>
				<el-table-column
						type="index"
						label=""
						width="200"
				>

				</el-table-column>
				<el-table-column
						type="index"
						label=""
						width="200"
				>
					<template slot-scope="scope">

						<!--<a href="#" v-if=" scope.row.type=='1'"><span>{{scope.row.uname}}</span></a>-->
						<a  href="javascript:void(0);" @click="apply(scope.row)" ><span>{{scope.row.tname}}</span></a>

					</template>
				</el-table-column>
				<el-table-column
						prop=""
						label=""
						width="300"
				>
					<template slot-scope="scope">

							<span v-if=" scope.row.type=='0'"><span style="color: blue">{{scope.row.tname}}</span>团队邀请您加入</span>
							<span v-if=" scope.row.type=='1'">申请加入<span style="color: blue">{{scope.row.tname}}</span></span>

					</template>
				</el-table-column>
				<el-table-column
						prop="applytime"
						label=""
						width="200"
				>

				</el-table-column>
				<el-table-column

						label="">
					<template slot-scope="scope">

						<div class="nodataTip">
							<el-button v-if=" scope.row.status=='1'&&scope.row.type=='0'" @click="agree(scope.row)" style="color: blue;">同意</el-button>
							<el-button  v-if="scope.row.status=='1'&&scope.row.type=='0'" @click="jujue(scope.row)" style="color: red;">拒绝</el-button>
<!--							<el-button  v-if="scope.row.status=='1'&&scope.row.type=='0'" @click="quxiao(scope.row)" style="color: red;">取消申请</el-button>-->
							<el-button  v-if="scope.row.status=='1'&&scope.row.type=='1'" @click="quxiao(scope.row)" style="color: red;">取消申请</el-button>

							<el-button v-if="scope.row.status=='0'"  style="color: blue;">已加入</el-button>
							<el-button v-if="scope.row.status=='3'"  style="color: blue;">已拒绝</el-button>
						</div>
					</template>　
				</el-table-column>
			</el-table>
		</template>
		<!-- 描述：分页操作-->
		<div class="pagination" style="padding: 20px;text-align: center;">
			<el-pagination background
						   @current-change="handleCurrentChange"
						   layout="prev, pager, next,total"
						   :current-page="startPage" :prev-text="prev" :next-text="next"
						   :total="total"
						   :page-size="4"
			/>
		</div>
		<!--分页-->
	</div>
</div>
<!--</div>-->
<!-- //subscribe -->
<div class="footer-main">
	<div class="footer-social">
		<h4>关于平台</h4>
		<ul>
			<li>
				<span class="fab fa-facebook-f icon_facebook"></span>
				<p style="color: white;">服务范围为广东省广州市地区</p>
			</li>

		</ul>
	</div>
	<div class="cpy-right">
		<p>2020-3-5 《同城搬家供需信息交流平台》平台联系人：曾运棋 联系电话：12345678910</p>
	</div>
</div>
<!--//footer -->
<!-- Vertically centered Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-uppercase" id="exampleModalLongTitle">Estate Mark</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<img src="images/modal.jpg" class="img-fluid mb-4" alt="Modal Image"/>
				Vivamus eget est in odio tempor interdum. Mauris maximus fermentum arcu, ac finibus ante. Sed mattis
				risus at ipsum elementum, ut auctor turpis cursus. Sed sed odio pharetra, aliquet velit cursus, vehicula
				enim. Mauris porta aliquet magna, eget laoreet ligula.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
			</div>
		</div>
	</div>
</div>

<!--
	作者：offline
	时间：2020-03-08
	描述：个人信息模态框 data-toggle="modal" data-target="#persionmessage"
-->
<div id="mymessage">
	<div class="modal fade" id="persionmessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		 aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-uppercase" id="exampleModalLongTitle">我的信息</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<el-form ref="form" :model="form" label-width="80px">

						<el-form-item label="姓名">
							<span>{{form.uname}}</span>
						</el-form-item>
						<el-form-item label="性别">
							<span>{{form.sex}}</span>
						</el-form-item>
						<el-form-item label="身份证号">
							<span>{{form.identity}}</span>
						</el-form-item>
						<el-form-item label="邮箱:">
							<span>{{form.email}}</span>
						</el-form-item>
						<el-form-item label="手机号码:">
							<span>{{form.phone}}</span>
						</el-form-item>
						<el-form-item label="出生日期">
							<span>{{form.birthday}}</span>
						</el-form-item>
						<el-form-item label="个人说明">
							<span>{{form.signature}}</span>
						</el-form-item>
						<el-form-item label="住址">
							<span>{{form.address}}</span>
						</el-form-item>
						<el-form-item label="注册时间">
							<span>{{form.registrationtime}}</span>
						</el-form-item>
					</el-form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
					<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editmessage">修改信息</button>
                  --></div>
			</div>
		</div>
	</div>
	<!--修改-->
	<div class="modal fade" id="editmessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		 aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-uppercase" id="exampleModalLongTitle">编辑我的信息</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<el-form ref="form" :model="editform" label-width="80px">

						<el-form-item label="姓名">
							<span>{{editform.uname}}</span>
						</el-form-item>
						<el-form-item label="性别">

							<el-radio v-model="editform.sex" label="男">男</el-radio>
							<el-radio v-model="editform.sex" label="女">女</el-radio>

						</el-form-item>
						<el-form-item label="身份证号">
							<el-input v-model="editform.identity"></el-input>
						</el-form-item>
						<el-form-item label="邮箱">
							<el-input v-model="editform.email"></el-input>
						</el-form-item>
						<el-form-item label="手机号码">

							<el-input v-model="editform.phone"></el-input>
						</el-form-item>
						<el-form-item label="出生日期">

							<el-input v-model="editform.birthday"></el-input>
						</el-form-item>
						<el-form-item label="个人说明">
							<el-input v-model="editform.signature"></el-input>
						</el-form-item>
						<el-form-item label="住址">
							<el-input v-model="editform.address"></el-input>
						</el-form-item>

						<div class="modal-footer">
							<el-button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</el-button>
							<el-button @click="onSubmit">保存</el-button>
						</div>
					</el-form>
				</div>
			</div>
		</div>
	</div>
	<!-- //Vertically centered Modal -->
</div>
<style type="text/css">
	.el-form-item {
		height: 20px;
	}
</style>
<script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script src="/js/owl.carousel.js"></script>

<script src="/js/move-top.js"></script>
<script src="/js/easing.js"></script>

<script>
	new Vue({
		el: '#mymessage',
		data: function () {
			return {
				form: {},
				editform: {
					sex: '',
					email: '',
					identity: '',
					phone: '',
					birthday: '',
					signature: '',
					address: ''
				},
			};
		},
		created() {
			getforms();
			var intid = parseInt($("#userid").val());
			var s = {uid: intid};
			//JSON.stringify(s)
			axios.post('/userservice/selectOne', {
				uid: intid
			}, {}).then(req => {
				this.form = req.data.data;
				this.editform = req.data.data;
			})
		},
		methods: {
			onSubmit() {
				// console.log(this.myform);
				var intid = parseInt($("#userid").val());
				// this.myform.uid=intid;
				this.editform.registrationtime = null;

				axios.post('/userservice/edit', JSON.stringify(this.editform), {
							headers: {
								'Content-Type': 'application/json;charset=UTF-8'
							}
						}
				).then(req => {
					alert("修改成功！");
					// axios.get('/main');
					window.location.href = "/main";
				})

			},
		}
	})
</script>

<script>
	var uname = $("#uname").val();
	new Vue({
		el: '#team',
		data: function () {
			return {
				applydate: [],
				startPage: 1,
				// 每页的数据
				pageSize: 4,
				total: 0,
			};
		},
		created() {
			const that = this;
			that.getforms();
		},
		methods: {

			//查询所有消息
			getforms() {
				var x = {
					pn: this.startPage,
					uname: uname,
				}
				axios.post('/apply/select', JSON.stringify(x), {
							headers: {
								'Content-Type': 'application/json;charset=UTF-8'
							}
						}
				).then(req => {
					console.log(req);
					this.applydate = req.data.data.list;
					//分页处理　　
					this.total = req.data.data.total;
				})
			},
			// 初始页currentPage、初始每页数据数pagesize和数据data
			handleSizeChange(size) {
				this.pageSize = size;
				this.getforms();
			},
			handleCurrentChange(startPage) {
				this.startPage = startPage;
				this.getforms();
			},

			agree(r) {
				r.status = "0";
				axios.post('/team/addchengyuan', JSON.stringify(r), {
							headers: {
								'Content-Type': 'application/json;charset=UTF-8'
							}
						}
				).then(req => {
					if (req.data.success ==false) {
						alert(req.data.message);
						return false;
					}
					alert("操作成功！");
					// axios.get('/main');
					window.location.href = "/u/myliuyan";
				})
			},
			jujue(r) {
				r.status = "3";
				axios.post('/apply/edit', JSON.stringify(r), {
							headers: {
								'Content-Type': 'application/json;charset=UTF-8'
							}
						}
				).then(req => {
					alert("操作成功！");
					// axios.get('/main');
					window.location.href = "/u/myliuyan";
				})
			},
			quxiao(r) {
				axios.post('/apply/delect', JSON.stringify(r), {
							headers: {
								'Content-Type': 'application/json;charset=UTF-8'
							}
						}
				).then(req => {
					alert("操作成功！");
					// axios.get('/main');
					window.location.href = "/u/myliuyan";
				})
			},
			x(a) {
				var tname1 = a.tname;
				axios.get('/team/messageuserservice', {
							params:{
								tname:tname1
							}
						}
				).then(req => {
					window.location.href = "team/messageBytname?tname=" + req.data.result.tname;
				})

			},
		}
	})
</script>

</body>
</html>
