<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content=""/>

    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="stylesheet" href="/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
    <link href="/css/style.css" rel='stylesheet' type='text/css'/>
    <link href="/css/fontawesome-all.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!--	描述：elm -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="base/plugins/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="base/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="base/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <!--elm  -->
</head>

<body>
<header>
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="index.html">同城搬家供需信息交流平台</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/main">首页<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link" href="/order">我的订单</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/moveteam">寻找搬家团队</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mymessage">我的留言</a>
                    </li>

                    <li class="nav-item  active">
                        <a class="nav-link " href="/notice">告示</a>
                    </li>
                    <li class="nav-item dropdown">
                        <input type="hidden" id="userid" th:if=" ${session.user} ne null" th:value="${session.user.uid}" />
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            <span th:if=" ${session.user} ne null" th:text="${session.user.uname}"></span>
                            <span th:if="${session.user} eq null " th:text="请登录"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:if="${session.user} ne null" href="/loginup">
                                <span th:if="${session.user} ne null " th:text="注销"></span>
                            </a>
                            <a class="dropdown-item" th:if="${session.user} eq null " href="/">
                                <span th:if="${session.user} eq null " th:text="登录"></span>
                            </a>
                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#persionmessage" role="button">查看个人信息</a>
                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#editmessage" role="button">编辑个人信息</a>

                        </div>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
</header>
<div id="team">
    <input type="hidden" th:if="${session.user} ne null" id="uname" th:value="${session.user.uname}"/>
    <input type="hidden" th:if="${session.user} ne null" id="uid" th:value="${session.user.uid}"/>
    <div class="services py-5">
        <div class="w3-head-all text-center mb-5">
            <!--<h5>求助公告</h5>-->
            <a style="font-size: 30px" href="javascript:void(0);" @click="dialogFormVisible=true"><i class="el-icon-edit">发表公告</i></a>
        </div>
        <div>
            <el-form ref="form" :model="sou" class="form-inline my-2 my-lg-0">
                <el-form-item label="">
                    <el-input v-model="sou.tname" placeholder="请输入信息内容查询公告" aria-label="Search"></el-input>

                <el-button @click="sousuo" class="btn btn-outline-success my-2 my-sm-0">Search</el-button>
                </el-form-item>
            </el-form>
        </div>
        <!--<div class="container">-->
        <div  v-for="(o, index) in teamdate" :key="o" :offset="index > 0 ? 1 : 0">
            <div class="card " >
                <div class="card-header text-center">
                    {{o.tital}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{o.username}}：</h5>
                    <h5 class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{o.content}}</h5>
                    <span>发布于：{{o.crieatetime}}</span>
                </div>

                <div class="card-footer text-muted">
                    <span>{{o.time}}</span>
                    <el-divider direction="vertical"></el-divider>
                    <span>评论({{o.countpl}})</span>
                    <!--<el-badge :value="o.countpl" class="item" type="primary">-->
                    <!--<el-button size="small">评论</el-button>-->
                    <!--</el-badge>-->
                    <el-divider direction="vertical"></el-divider>
                    <el-button @click="check(o)" class="btn btn-primary">查看详情</el-button>
                    <el-divider direction="vertical"></el-divider>

                        <a v-if="o.username==loginname" href="javascript:void(0);" @click="delect(o)"><i class="el-icon-delete"></i>删除</a>
                </div>

            </div>
            <el-divider content-position="right">公告栏</el-divider>
        </div>

        <el-dialog title="发表公告" :visible.sync="dialogFormVisible">
            <el-form :model="addnotice" ref="addnotice" :rules="rules" >
                <el-form-item label="题目:" prop="tital">
                    <el-input type="text" v-model="addnotice.tital" clearable></el-input>
                </el-form-item>

                <el-form-item label="内容:" prop="content">
                    <el-input type="textarea" v-model="addnotice.content" clearable></el-input>

                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="addsss('addnotice')">发表</el-button>
            </div>

        </el-dialog>
        <div class="clearfix"></div>

        <div class="clearfix"></div>
        <!--</div>-->
        <!--</div>-->
        <!-- 描述：分页操作-->
        <div class="pagination" style="padding: 20px;text-align: center;">
            <el-pagination background
                           @current-change="handleCurrentChange"
                           layout="prev, pager, next,total"
                           :current-page="startPage" :prev-text="prev" :next-text="next"
                           :total="total"
                           :page-size="4"
            />
        </div>
        <!--分页-->
    </div>
</div>
</div>
<!-- //Services -->


<!-- //subscribe -->
<div class="footer-main">
    <div class="footer-social">
        <h4>关于平台</h4>
        <ul>
            <li>
                <span class="fab fa-facebook-f icon_facebook"></span>
                <p style="color: white;">服务范围为广东省广州市地区</p>
            </li>

        </ul>
    </div>
    <div class="cpy-right">
        <p>2020-3-5 《同城搬家供需信息交流平台》平台联系人：曾运棋 联系电话：12345678910</p>
    </div>
</div>

<!-- //footer -->
<!-- Vertically centered Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase" id="exampleModalLongTitle">Estate Mark</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="images/modal.jpg" class="img-fluid mb-4 img-fluid" alt="Modal Image"/>
                Vivamus eget est in odio tempor interdum. Mauris maximus fermentum arcu, ac finibus ante. Sed mattis
                risus at ipsum elementum, ut auctor turpis cursus. Sed sed odio pharetra, aliquet velit cursus, vehicula
                enim. Mauris porta aliquet magna, eget laoreet ligula.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--
	作者：offline
	时间：2020-03-08
	描述：个人信息模态框 data-toggle="modal" data-target="#persionmessage"
-->
<div class="modal fade" id="persionmessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase" id="exampleModalLongTitle">我的信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="app" class="modal-body">
                <el-form ref="form" :model="form" label-width="80px">

                    <el-form-item label="姓名">
                        <el-input v-model="form.uname" :readonly="true"></el-input>
                    </el-form-item>
                    <el-form-item label="性别">

                        <span label="1" v-if="form.sex==1">男</span>
                        <span label="2" v-if="form.sex==2">女</span>

                    </el-form-item>
                    <el-form-item label="身份证号">
                        <el-input v-model="form.identity" :readonly="true"></el-input>
                    </el-form-item>
                    <el-form-item label="邮箱">
                        <el-input v-model="form.email" :readonly="true"></el-input>
                    </el-form-item>
                    <el-form-item label="手机号码">

                        <el-input v-model="form.phone" :readonly="true"></el-input>
                    </el-form-item>
                    <el-form-item label="出生日期">

                        <el-input v-model="form.birthday" :readonly="true"></el-input>
                    </el-form-item>
                    <el-form-item label="个人说明">
                        <el-input v-model="form.signature" :readonly="true"></el-input>
                    </el-form-item>
                    <el-form-item label="住址">
                        <el-input v-model="form.address" :readonly="true"></el-input>
                    </el-form-item>
                    <el-form-item label="注册时间">
                        <el-input v-model="form.registrationtime" :readonly="true"></el-input>
                    </el-form-item>

                </el-form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--修改-->
<div class="modal fade" id="editmessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase" id="exampleModalLongTitle">编辑我的信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="ap" class="modal-body">
                <el-form ref="form" :model="editform" label-width="80px">

                    <el-form-item label="姓名">
                        <el-input v-model="editform.uname"></el-input>
                    </el-form-item>
                    <el-form-item label="性别">
                        <el-radio-group v-model="editform.sex">
                            <el-radio label="1">男</el-radio>
                            <el-radio label="2">女</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="身份证号">
                        <el-input v-model="editform.identity"></el-input>
                    </el-form-item>
                    <el-form-item label="邮箱">
                        <el-input v-model="editform.email"></el-input>
                    </el-form-item>
                    <el-form-item label="手机号码">

                        <el-input v-model="editform.phone"></el-input>
                    </el-form-item>
                    <el-form-item label="出生日期">

                        <el-input v-model="editform.birthday"></el-input>
                    </el-form-item>
                    <el-form-item label="个人说明">
                        <el-input v-model="editform.signature"></el-input>
                    </el-form-item>
                    <el-form-item label="住址">
                        <el-input v-model="editform.address"></el-input>
                    </el-form-item>
                    <el-form-item label="注册时间">
                        <el-input v-model="editform.registrationtime"></el-input>
                    </el-form-item>


                    <div class="modal-footer">
                        <el-button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</el-button>
                        <el-button type="button" class="btn btn-primary" @click="save" data-dismiss="modal">保存
                        </el-button>
                    </div>
                </el-form>
            </div>
        </div>
    </div>
</div>
<!-- //Vertically centered Modal -->
<!-- //Vertically centered Modal -->

<!-- js -->
<script src="/js/odometer.js"></script>
<script>
    window.odometerOptions = {
        format: '(ddd).dd'
    };
</script>
<script>
    setTimeout(function () {
        jQuery('#w3l_stats1').html(25);
    }, 1500);
</script>
<script>
    setTimeout(function () {
        jQuery('#w3l_stats2').html(330);
    }, 1500);
</script>
<script>
    setTimeout(function () {
        jQuery('#w3l_stats3').html(542);
    }, 1500);
</script>
<!-- //odometer-script -->

<!-- js -->
<script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
<!-- //js -->
<!-- start-smooth-scrolling -->
<script src="/js/move-top.js"></script>
<script src="/js/easing.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();

            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>
<!-- //end-smooth-scrolling -->

<!-- smooth-scrolling-of-move-up -->
<script>
    $(document).ready(function () {
        $().UItoTop({
            easingType: 'easeOutQuart'
        });
    });
</script>
<!-- //smooth-scrolling-of-move-up -->


<!-- smooth scrolling js -->
<script src="/js/SmoothScroll.min.js"></script>
<!-- //smooth scrolling js -->
<!-- //smooth scrolling js -->
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                form: {},

            };
        },
        created() {
            const that = this;
            that.loan();
            that.getform();
        },
        methods: {

            loan() {
                this.form = {
                    uname: '曾运棋',
                    sex: '2',
                    email: '123@qq.com',
                    identity: '4565564',
                    phone: '12345648',
                    birthday: '2020-14-2',
                    signature: '你哈 ',
                    address: '广州',
                    registrationtime: '2020-02-30'
                };
            },
        }
    })
</script>
<script>
    new Vue({
        el: '#ap',
        data: function () {
            return {

                editform: {},
                postform: {},
            };
        },
        created() {
            const that = this;
            that.getform();
        },
        methods: {

            getform() {
//  	const that=this;
                this.editform = {
                    uname: '曾运棋',
                    sex: '1',
                    email: '123@qq.com',
                    identity: '45655dsfdfs64',
                    phone: '1234564sdfdfsdsfdfssdfdfs8',
                    birthday: '2020-14防守打法您发的是否你附近的防守反击年大牛的很-2',
                    signature: '你哈 ',
                    address: '广州',
                    registrationtime: '2020-02-30'
                };
            },
        }
//  methods: {
//    onSubmit() {
//      console.log('submit!');
//    }
//  }
    })
</script>
<script>
    var uname = $("#uname").val();
    var uid = $("#uid").val();
    // var content = $("#");
    new Vue({
        el: '#team',
        data: function () {
            return {
                loginname:uname,
                flat: false,
                teamdate: [],
                sou: {
                    tname: '',
                    pn: 1
                },
                addnotice:{
                    username:uname,
                    uid:uid,
                    status:"0",
                    content:'',
                    tital:'',
                },
                startPage: 1,
                // 每页的数据
                pageSize: 4,
                total: 0,
                pn: 1,
                dialogFormVisible:false,
                rules: {
                    tital: [
                        { required: true, message: '请输入公告标题', trigger: 'blur' },

                    ],
                    content: [
                        { required: true, message: '请输入公告内容', trigger: 'blur' }
                    ],

                }
            };
        },
        created() {
            const that = this;
            that.getforms();
            that.sousou();
        },
        methods: {
            // 初始页currentPage、初始每页数据数pagesize和数据data
            handleSizeChange(size) {
                this.pageSize = size;
                this.sousuo()
            },
            handleCurrentChange(startPage) {
                this.sou.pn = startPage;
                this.startPage = startPage
                this.sousuo()
            },
            getforms() {

                axios.get('/notice/selectlist', {
                        params: {
                            pn: this.startPage
                        }
                    },
                ).then(req => {
                    console.log(req);
                    this.teamdate = req.data.data.list;
                    //分页处理　　
                    this.total = req.data.data.total;
                })
            },
            select(val) {

                axios.get('/team/message', {
                        params: {
                            tid: val
                        }
                    }
                ).then(req => {
                    window.location.href = "team/teammessage?tid=" + req.data.result.tid;
                    // window.location.href="user/teammessage.html";
                })
            },
            sousuo() {
                if (this.sou.tname != '') {
                    //this.falt=true;
                    //  this.sou.pn = this.startPage;
                    axios.post('/notice/selectbykey', JSON.stringify(this.sou), {
                            headers: {
                                'Content-Type': 'application/json;charset=UTF-8'
                            }
                        }
                    ).then(req => {
                        this.teamdate = req.data.data.list;
                        this.total = req.data.data.total;
                    })
                } else {
                    axios.get('/notice/selectlist', {
                            params: {
                                pn: this.startPage
                            }
                        },
                    ).then(req => {
                        this.teamdate = req.data.data.list;
                        this.total = req.data.data.total;
                    })
                }
            },
            check(x){
                console.log(x);
                axios.get('/notice/selectBybid', {
                        params: {
                            bid:x.bid
                        }
                    },
                ).then(req => {
                    // this.teamdate = req.data.data.list;
                    // this.total = req.data.data.total;
                    window.location.href = "/u/notice";
                })
            },
            addsss(addno) {
                this.$refs[addno].validate((valid) => {
                    if (valid) {
                        //添加文章
                        console.log(uname);
                        console.log(uid);
                        this.addnotice.username = uname;
                        this.addnotice.uid = uid;
                        axios.post('/notice/add', JSON.stringify(this.addnotice), {
                                headers: {
                                    'Content-Type': 'application/json;charset=UTF-8'
                                }
                            }
                        ).then(req => {
                            this.dialogFormVisible = false;
                            //提示成功
                            this.$message({message: '发表成功！', type: 'success'});
                            //刷新页面
                            this.addnotice={
                                username:uname,
                                uid:uid,
                                status:"0",
                                content:'',
                                tital:'',
                            };
                            this.getforms();
                        })
                    } else {
                        this.$message({message: '请填写内容！', type: 'error'});
                        this.addnotice={
                            username:uname,
                            uid:uid,
                            status:"0",
                            content:'',
                            tital:'',
                        };
                        console.log('error submit!!');
                        return false;
                    }
                });


            },
            delect(x) {
                axios.post('/notice/del', JSON.stringify(x), {
                        headers: {
                            'Content-Type': 'application/json;charset=UTF-8'
                        }
                    }
                ).then(req => {
                    //提示成功
                    this.$message({message: '删除成功！', type: 'success'});
                    //刷新页面
                    this.getforms();
                })

            },

        }
    })
</script>

<style>
    .el-form-item{
        height:60px;
    }
    .time {
        font-size: 13px;
        color: #999;
    }

    .bottom {
        margin-top: 13px;
        line-height: 12px;
    }

    .button {
        padding: 0;
        float: right;
    }

    .image {
        width: 100%;
        display: block;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }
</style>
</body>
</html>
